In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
insurance=pd.read_csv("C:/Users/User/Downloads/insurance.csv")

In [3]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

insurance_encoded = encoder.fit_transform(insurance[['sex', 'smoker','region']])

insurance_encoded = insurance_encoded.toarray()

insurance.drop(['sex', 'smoker','region'], axis=1, inplace=True)
insurance_encoded_df = pd.DataFrame(insurance_encoded, columns=encoder. get_feature_names_out(['sex', 'smoker','region']))
insurance = pd.concat([insurance, insurance_encoded_df], axis=1)

In [4]:
X = insurance.drop('charges', axis=1)
y=insurance['charges']

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [7]:
regressor.fit(X_train, y_train)

LinearRegression()

In [8]:
regressor.score(X_test, y_test)

0.7338576918964407

In [9]:
y_pred=regressor.predict(X_test)

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mse = mean_squared_error(y_test, y_pred)

print('MAE:', mae)
print('RMSE:', rmse)
print('MSE:', mse)

MAE: 4024.6228223007115
RMSE: 5759.281016272501
MSE: 33169317.824396808

In [11]:
evaluate = pd.DataFrame({'Actual': y_test.values.flatten(), 'Predicted': y_pred.flatten()})
evaluate.head(10)

        Actual     Predicted
0   6775.96100   9272.754490
1  13415.03810  10716.934350
2  23288.92840   3585.025226
3   5152.13400   6498.778769
4   5630.45785   9509.804150
5   6571.54400   9848.149576
6   3556.92230   6846.109791
7  37701.87680  31975.191302
8   3645.08940   3814.892660
9  21344.84670   2546.880455